<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Bio Image Operation" Language="1033" Version="!(bind.FileVersion.BioImageOperationExe)" Manufacturer="Joost de Folter" UpgradeCode="EDE41139-C8E6-4D98-AE85-E669F8CA6D48" InstallerVersion="200" ProductCode="D3B0C179-1F76-406A-B938-7E33C6BF461F">
		<SummaryInformation Manufacturer="Joost de Folter" Description="http://joostdefolter.info" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate CompressionLevel="high" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="BioImageOperation" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductComponents2" />
			<ComponentGroupRef Id="ProductComponents3" />
		</Feature>
	</Package>

	<Fragment>
			<StandardDirectory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="BioImageOperation">
          <Directory Id="PlatformsFolder" Name="platforms" />
					<Directory Id="StylesFolder" Name="styles" />
				</Directory>
			</StandardDirectory>

			<StandardDirectory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="BioImageOperation" />
			</StandardDirectory>
			<StandardDirectory Id="DesktopFolder" />
		</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="MainExecutable" Bitness="always64">
				<File Id="BioImageOperationExe" Name="$(var.BioImageOperation.TargetFileName)" Source="$(var.BioImageOperation.TargetPath)" KeyPath="yes">
					<Shortcut Id="StartmenuShortcut" Directory="ApplicationProgramsFolder" Name="BioImageOperation" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="BioIcon.ico" IconIndex="0">
						<Icon Id="BioIcon.ico" SourceFile="$(var.BioImageOperation.ProjectDir)\BioImageOperation.ico" />
					</Shortcut>
					<Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="BioImageOperation" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="BioIcon.ico" IconIndex="0" />
				</File>
			</Component>
      
			<Component Id="OpencvDllComp" Bitness="always64">
				<File Id="OpencvDll" Name="opencv_world490.dll" Source="C:\opencv\build\x64\vc16\bin\opencv_world490.dll" />
			</Component>
			<Component Id="FfmpegDllComp" Bitness="always64">
				<File Id="FfmpegDll" Name="opencv_videoio_ffmpeg490_64.dll" Source="C:\opencv\build\x64\vc16\bin\opencv_videoio_ffmpeg490_64.dll" />
			</Component>
      <Component Id="MsmfDllComp" Bitness="always64">
        <File Id="MsmfDll" Name="opencv_videoio_msmf490_64.dll" Source="C:\opencv\build\x64\vc16\bin\opencv_videoio_msmf490_64.dll" />
      </Component>
      <Component Id="H264DllComp" Bitness="always64">
				<File Id="H264Dll" Name="openh264-1.8.0-win64.dll" Source="C:\openh264\openh264-1.8.0-win64.dll" />
			</Component>
      
      <Component Id="QtCoreComp" Bitness="always64">
        <File Id="QtCore" Name="Qt6Core.dll" Source="C:\Qt\6.6.1\msvc2019_64\bin\Qt6Core.dll" />
      </Component>
      <Component Id="QtWidgetsComp" Bitness="always64">
        <File Id="QtWidgets" Name="Qt6Widgets.dll" Source="C:\Qt\6.6.1\msvc2019_64\bin\Qt6Widgets.dll" />
      </Component>
      <Component Id="QtGuiComp" Bitness="always64">
        <File Id="QtGui" Name="Qt6Gui.dll" Source="C:\Qt\6.6.1\msvc2019_64\bin\Qt6Gui.dll" />
      </Component>
      <Component Id="QtNetworkComp" Bitness="always64">
        <File Id="QtNetwork" Name="Qt6Network.dll" Source="C:\Qt\6.6.1\msvc2019_64\bin\Qt6Network.dll" />
      </Component>
      <Component Id="QtSvgComp" Bitness="always64">
        <File Id="QtSvg" Name="Qt6Svg.dll" Source="C:\Qt\6.6.1\msvc2019_64\bin\Qt6Svg.dll" />
      </Component>
    </ComponentGroup>
      
    <ComponentGroup Id="ProductComponents2" Directory="PlatformsFolder">
      <Component Id="QtPlatformComp" Bitness="always64">
        <File Id="QtPlatform" Name="qwindows.dll" Source="C:\Qt\6.6.1\msvc2019_64\plugins\platforms\qwindows.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ProductComponents3" Directory="StylesFolder">
      <Component Id="QtStylesComp" Bitness="always64">
        <File Id="QtStyle" Name="qwindowsvistastyle.dll" Source="C:\Qt\6.6.1\msvc2019_64\plugins\styles\qwindowsvistastyle.dll" />
      </Component>
    </ComponentGroup>
		<Property Id="ARPPRODUCTICON" Value="BioIcon.exe" />
	</Fragment>
</Wix>

<!-- http://wixtoolset.org/documentation/manual/v3/votive/votive_project_references.html -->
