<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Bundle Name="!(bind.packageName.BioSetup)" Version="!(bind.packageVersion.BioSetup)" Manufacturer="!(bind.packageManufacturer.BioSetup)" HelpUrl="http://joostdefolter.info" Compressed="yes"
			IconSourceFile="$(var.BioImageOperation.ProjectDir)\Resources\AntIcon.ico" UpgradeCode="fc709c54-d9dd-4569-9b0c-b23783611f8a" DisableModify="yes">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				  LicenseFile="gpl-3.0.rtf"
				  LogoFile="$(var.BioImageOperation.ProjectDir)\Resources\ant64.png"
				  SuppressRepair="yes"
				  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
		</BootstrapperApplicationRef>

		<Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]BioImageOperation"/>
		
		<!--Search for .NET 4.0-->
		<util:RegistrySearch Variable="DETECTNET40" Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Install" Result="value" />
		<util:RegistrySearch Variable="DETECTNET40_64" Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Install" Result="value" Win64="yes" />
		<!--Search for Microsoft Visual C++ x64 Redistributable-->
		<util:RegistrySearch Variable="DETECTVCREDISTX64" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" Value="Installed" Result="value" Win64="yes" />

		<!-- Log PathVariable="C:\BIO install.log" / -->
    <!-- Calculate SHA1 hash from files: https://md5file.com/calculator / -->
		
		<Chain>
			<ExePackage Id="VcRedist_x64" Name="VcRedist_x64" DetectCondition="DETECTVCREDISTX64" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="no" InstallCommand="/passive /norestart" DownloadUrl="https://aka.ms/vs/16/release/vc_redist.x64.exe" >
				<RemotePayload ProductName="vcRedist_x64.exe" Description="C++ 2019 Redistributable" Version="14.24.28127.4" Size="15060496" Hash="b87c38d093872d7be7e191f01107b39c87888a5a" />
			</ExePackage>

			<ExePackage Id="Netfx4Full" Name="Netfx4Full" DetectCondition="DETECTNET40 OR DETECTNET40_64" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="no" InstallCommand="/passive /norestart" DownloadUrl="http://go.microsoft.com/fwlink/?linkid=182805" >
				<RemotePayload ProductName="dotNetFx40_Full_setup.exe" Description="Dotnet 4.0" Version="4.0.30319.1" Size="889416" Hash="06BECADB92A5FCCA2529C0B93687C2A0C6D0D610" />
			</ExePackage>

			<MsiPackage Id="BioSetup" SourceFile="$(var.BioImageOperationSetup.TargetPath)" Compressed="yes" DisplayName="Bio Image Operation" ForcePerMachine="yes">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>

<!-- http://wixtoolset.org/documentation/manual/v3/votive/votive_project_references.html -->
<!-- determine file hash/version https://stackoverflow.com/questions/23928841/hash-value-in-remotepayload -->
