<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	<Bundle Name="!(bind.packageName.BioSetup)" Version="!(bind.packageVersion.BioSetup)" Manufacturer="!(bind.packageManufacturer.BioSetup)" HelpUrl="http://joostdefolter.info" Compressed="yes" IconSourceFile="$(var.BioImageOperation.ProjectDir)\BioImageOperation.ico" UpgradeCode="fc709c54-d9dd-4569-9b0c-b23783611f8a" DisableModify="yes">
		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication LicenseFile="gpl-3.0.rtf" LogoFile="$(var.BioImageOperation.ProjectDir)\BioImageOperation.ico" SuppressRepair="yes" Theme="rtfLicense" />
		</BootstrapperApplication>

		<Variable Name="InstallFolder" Type="formatted" Value="[ProgramFiles64Folder]BioImageOperation" />
		
		<!--Search for Microsoft Visual C++ x64 Redistributable-->
		<util:RegistrySearch Variable="DETECTVCREDISTX64" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" Value="Installed" Result="value" Bitness="always64" />

		<!-- Log PathVariable="C:\BIO install.log" / -->
    <!-- Calculate SHA1 hash from files: https://md5file.com/calculator / -->
		
		<Chain>
			<ExePackage Id="VcRedist_x64" DetectCondition="DETECTVCREDISTX64" Cache="remove" PerMachine="yes" Permanent="yes" Vital="no" InstallArguments="/passive /norestart">
				<ExePackagePayload ProductName="vcRedist_x64.exe" Description="C++ 2019 Redistributable" Version="14.24.28127.4" Size="15060496" Hash="b87c38d093872d7be7e191f01107b39c87888a5a" Name="VcRedist_x64" DownloadUrl="https://aka.ms/vs/16/release/vc_redist.x64.exe" />
			</ExePackage>

			<MsiPackage Id="BioSetup" SourceFile="$(var.BioImageOperationSetup.TargetPath)" Compressed="yes" DisplayName="Bio Image Operation" ForcePerMachine="yes">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>

<!-- http://wixtoolset.org/documentation/manual/v3/votive/votive_project_references.html -->
<!-- determine file hash/version https://stackoverflow.com/questions/23928841/hash-value-in-remotepayload -->
